-- ===================================================================
-- create test functions
-- ===================================================================
CREATE FUNCTION sort_names(cstring, cstring, cstring)
	RETURNS cstring
	AS 'pg_shard'
	LANGUAGE C STRICT;
CREATE FUNCTION create_table_then_fail(cstring, integer)
	RETURNS bool
	AS 'pg_shard'
	LANGUAGE C STRICT;
-- ===================================================================
-- test shard creation functionality
-- ===================================================================
CREATE TABLE table_to_distribute (
	name text,
	id bigint PRIMARY KEY
);
-- use an index instead of table name
SELECT master_create_distributed_table('table_to_distribute_pkey', 'id');
ERROR:  cannot distribute relation: "table_to_distribute_pkey"
DETAIL:  Distributed relations must be regular or foreign tables.
-- use a bad column name
SELECT master_create_distributed_table('table_to_distribute', 'bad_column');
ERROR:  could not find column: bad_column
-- use unsupported partition type
SELECT master_create_distributed_table('table_to_distribute', 'name', 'r');
ERROR:  unsupported partition method: r
-- distribute table and inspect side effects
SELECT master_create_distributed_table('table_to_distribute', 'name');
 master_create_distributed_table 
---------------------------------
 
(1 row)

SELECT partition_method, key FROM pgs_distribution_metadata.partition
	WHERE relation_id = 'table_to_distribute'::regclass;
 partition_method | key  
------------------+------
 h                | name
(1 row)

-- use a bad shard count
SELECT master_create_worker_shards('table_to_distribute', 0, 1);
ERROR:  cannot create shards for the table
DETAIL:  The shardCount argument is invalid
HINT:  Specify a positive value for shardCount
-- use a bad replication factor
SELECT master_create_worker_shards('table_to_distribute', 16, 0);
ERROR:  cannot create shards for the table
DETAIL:  The replicationFactor argument is invalid
HINT:  Specify a positive value for replicationFactor
-- use a replication factor higher than shard count
SELECT master_create_worker_shards('table_to_distribute', 16, 3);
ERROR:  cannot create new shards for table
DETAIL:  Replication factor: 3 exceeds worker node count: 2
\set VERBOSITY terse
-- use a replication factor higher than healthy node count
-- this will create a shard on the healthy node but fail right after
SELECT master_create_worker_shards('table_to_distribute', 16, 2);
WARNING:  Connection failed to adeadhost:5432
WARNING:  could not create shard on "adeadhost:5432"
ERROR:  could only create 1 of 2 of required shard replicas
-- finally, create shards and inspect metadata
SELECT master_create_worker_shards('table_to_distribute', 16, 1);
WARNING:  Connection failed to adeadhost:5432
WARNING:  could not create shard on "adeadhost:5432"
WARNING:  Connection failed to adeadhost:5432
WARNING:  could not create shard on "adeadhost:5432"
WARNING:  Connection failed to adeadhost:5432
WARNING:  could not create shard on "adeadhost:5432"
WARNING:  Connection failed to adeadhost:5432
WARNING:  could not create shard on "adeadhost:5432"
WARNING:  Connection failed to adeadhost:5432
WARNING:  could not create shard on "adeadhost:5432"
WARNING:  Connection failed to adeadhost:5432
WARNING:  could not create shard on "adeadhost:5432"
WARNING:  Connection failed to adeadhost:5432
WARNING:  could not create shard on "adeadhost:5432"
WARNING:  Connection failed to adeadhost:5432
WARNING:  could not create shard on "adeadhost:5432"
 master_create_worker_shards 
-----------------------------
 
(1 row)

\set VERBOSITY default
SELECT storage, min_value, max_value FROM pgs_distribution_metadata.shard
	WHERE relation_id = 'table_to_distribute'::regclass
	ORDER BY (min_value COLLATE "C") ASC;
 storage |  min_value  |  max_value  
---------+-------------+-------------
 t       | -1073741828 | -805306374
 t       | -1342177283 | -1073741829
 t       | -1610612738 | -1342177284
 t       | -1879048193 | -1610612739
 t       | -2147483648 | -1879048194
 t       | -268435463  | -9
 t       | -536870918  | -268435464
 t       | -8          | 268435446
 t       | -805306373  | -536870919
 t       | 1073741812  | 1342177266
 t       | 1342177267  | 1610612721
 t       | 1610612722  | 1879048176
 t       | 1879048177  | 2147483647
 t       | 268435447   | 536870901
 t       | 536870902   | 805306356
 t       | 805306357   | 1073741811
(16 rows)

-- all shards should be on a single node
WITH unique_nodes AS (
	SELECT DISTINCT ON (node_name, node_port) node_name, node_port
		FROM pgs_distribution_metadata.shard_placement, pgs_distribution_metadata.shard
		WHERE shard_placement.shard_id = shard.id
	)
SELECT COUNT(*) FROM unique_nodes;
 count 
-------
     1
(1 row)

SELECT COUNT(*) FROM pg_class WHERE relname LIKE 'table_to_distribute%' AND relkind = 'r';
 count 
-------
    18
(1 row)

-- try to create them again
SELECT master_create_worker_shards('table_to_distribute', 16, 1);
ERROR:  cannot create new shards for table
DETAIL:  Shards have already been created
-- test list sorting
SELECT sort_names('sumedh', 'jason', 'ozgun');
 sort_names 
------------
 jason     +
 ozgun     +
 sumedh    +
 
(1 row)

-- test remote command execution
SELECT create_table_then_fail('localhost', $PGPORT);
WARNING:  Bad result from localhost:$PGPORT
DETAIL:  Remote message: syntax error at or near "THIS"
 create_table_then_fail 
------------------------
 f
(1 row)

SELECT COUNT(*) FROM pg_class WHERE relname LIKE 'throwaway%' AND relkind = 'r';
 count 
-------
     0
(1 row)

\set VERBOSITY terse
-- test foreign table creation
CREATE FOREIGN TABLE foreign_table_to_distribute
(
	name text,
	id bigint
)
SERVER fake_fdw_server;
SELECT master_create_distributed_table('foreign_table_to_distribute', 'id');
 master_create_distributed_table 
---------------------------------
 
(1 row)

SELECT master_create_worker_shards('foreign_table_to_distribute', 16, 1);
WARNING:  Connection failed to adeadhost:5432
WARNING:  could not create shard on "adeadhost:5432"
WARNING:  Connection failed to adeadhost:5432
WARNING:  could not create shard on "adeadhost:5432"
WARNING:  Connection failed to adeadhost:5432
WARNING:  could not create shard on "adeadhost:5432"
WARNING:  Connection failed to adeadhost:5432
WARNING:  could not create shard on "adeadhost:5432"
WARNING:  Connection failed to adeadhost:5432
WARNING:  could not create shard on "adeadhost:5432"
WARNING:  Connection failed to adeadhost:5432
WARNING:  could not create shard on "adeadhost:5432"
WARNING:  Connection failed to adeadhost:5432
WARNING:  could not create shard on "adeadhost:5432"
WARNING:  Connection failed to adeadhost:5432
WARNING:  could not create shard on "adeadhost:5432"
 master_create_worker_shards 
-----------------------------
 
(1 row)

SELECT storage, min_value, max_value FROM pgs_distribution_metadata.shard
	WHERE relation_id = 'foreign_table_to_distribute'::regclass
	ORDER BY (min_value COLLATE "C") ASC;
 storage |  min_value  |  max_value  
---------+-------------+-------------
 f       | -1073741828 | -805306374
 f       | -1342177283 | -1073741829
 f       | -1610612738 | -1342177284
 f       | -1879048193 | -1610612739
 f       | -2147483648 | -1879048194
 f       | -268435463  | -9
 f       | -536870918  | -268435464
 f       | -8          | 268435446
 f       | -805306373  | -536870919
 f       | 1073741812  | 1342177266
 f       | 1342177267  | 1610612721
 f       | 1610612722  | 1879048176
 f       | 1879048177  | 2147483647
 f       | 268435447   | 536870901
 f       | 536870902   | 805306356
 f       | 805306357   | 1073741811
(16 rows)

