# =====
# = C =
# =====

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# ========
# = Gcov =
# ========

# gcc coverage testing tool files

*.gcno
*.gcda
*.gcov

# ====================
# = Project-Specific =
# ====================

# regression test detritus
/log/
/regression.diffs
/regression.out
/results/
/tmp_check*

# keep expected output files
!/test/expected/*.out

# ignore latest install file
sql/*--*.sql
