# =====
# = C =
# =====

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# ====================
# = Project-Specific =
# ====================

!/expected/*.out

# Generated test files
/expected/connection.out
/sql/connection.sql
/expected/create_shards.out
/sql/create_shards.sql
